.multiClusterColumn {
  .radial-box {
    background: #111111aa;
  }

  .stat-box {
    background: #111111aa;
    padding-top: 10px;
    padding-left: 10px;
    height: 30px;
    h6 {
      margin-bottom: 0px;
    }
  }
}
